@charset "UTF-8";

.registerPage{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 200px;
	text-align: center;
}

.registerBtn{
	background-color: limegreen;
	color: white;
	border: solid 1px;
	border-radius: 10px;
	margin-bottom: 20px;
	cursor: pointer;
}