@charset "UTF-8";

.deleteBtn {
	background-color: orangered;
	color: white;
	border: solid 1px;
	border-radius: 10px;
	cursor: pointer;
	
};

.detailDiv{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 200px;
	text-align: center;
};


